@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.update-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-header {
  display: none;

  @media (max-width: 768px) {
    display: block;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}

.back-button {
  color: $primary-text-color;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.two-factor-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 2.5rem;

  h3 { margin: 0; font-size: 1rem; font-weight: 500; }
  p { margin: 0.25rem 0 0; font-size: 0.9rem; color: $secondary-text-color; }
}

.form-field {
  width: 100%;
  margin-bottom: 1.5rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: auto;
  padding-top: 2rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 768px) {

  .page-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .page-header h1 {
    margin-bottom: 1rem;
  }

  .two-factor-section {
    flex-direction: column;
    align-items: flex-start;
    margin-top: -1rem;
    gap: 1rem;
    border-top: none;
    padding-bottom: 1.5rem;
  }

  .two-factor-section button {
    width: 100%;
  }

  .actions {
    margin-bottom: 1rem;
  }
}
