@use 'variables' as *;

:host {
  h1 {
    color: $primary-text-color;
    margin-top: 0;
    font-weight: 500;
    font-size: 1.5rem;
  }

  .subtitle {
    color: $secondary-text-color;
    margin-top: -1rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
  }
}

.update-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  width: 100%;
  margin-bottom: 1.5rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
