@use 'variables' as *;

.search-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}

h1 {
  border-bottom: 1px solid $border-color;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.search-box {
  position: relative;
  margin-bottom: 2rem;

  i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: $secondary-text-color;
  }
}

.search-input {
  width: 100%;
  padding: 1rem 1rem 1rem 3rem;
  font-size: 1.2rem;
  border-radius: 8px;
  border: 1px solid $border-color;
  background-color: $surface-color;
  color: $primary-text-color;

  &:focus {
    outline: none;
    border-color: $accent-color-vibrant;
  }
}

.results-container {
  margin-top: 2rem;
}

.info-message {
  color: $secondary-text-color;
  text-align: center;
  padding: 2rem;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.5rem;
}

.book-card {
  text-decoration: none;
  background-color: $surface-color;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer; // <-- Deixa o cartão com a "mãozinha" de clique

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  }
}

.book-cover {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.book-title {
  padding: 1rem;
  color: $primary-text-color;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
}
