@use 'variables' as *;

.details-container, .tab-content {
  color: var(--secondary-text-color);
}

.details-container {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}

.header-details {
  margin-bottom: 1.5rem;
}

.book-cover {
  width: 150px;
  height: 225px;
  object-fit: cover;
  border-radius: 4px;
  flex-shrink: 0;
}

.book-text {
  h3 {
    margin-top: 0;
    font-weight: normal;
    color: var(--secondary-text-color);
  }

  p {
    margin-bottom: 0.5rem;
    color: var(--secondary-text-color);

    strong {
      color: var(--secondary-text-color);
    }
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}


.tab-content {
  padding: 1.5rem 0.5rem;
}

.comment {
  border-bottom: 1px solid var(--secondary-text-color);
  padding: 1rem 0;

  &:last-child {
    border-bottom: none;
  }
}

.comment-author {
  font-weight: bold;
  color: var(--secondary-text-color);
  margin-right: 0.5rem;
}

.comment-text {
  color: var(--primary-text-color);
}
