@use '@angular/material' as mat;
@use 'sass:color';

@include mat.core();

$accent-color-vibrant: #0634BDFF;

$vibebooks-custom-blue-palette: (
  500: $accent-color-vibrant,
  100: color.adjust($accent-color-vibrant, $lightness: 30%),
  700: color.adjust($accent-color-vibrant, $lightness: -10%),
  contrast: (
    500: white,
    100: black,
    700: white,
  )
);

$vibebooks-primary-palette: mat.m2-define-palette($vibebooks-custom-blue-palette);
$vibebooks-warn-palette: mat.m2-define-palette(mat.$m2-red-palette, 500);
$vibebooks-accent-palette: mat.m2-define-palette(mat.$m2-gray-palette, 500);

$vibebooks-dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $vibebooks-primary-palette,
    accent: $vibebooks-accent-palette,
    warn: $vibebooks-warn-palette,
  )
));

$vibebooks-light-theme: mat.m2-define-light-theme((
  color: (
    primary: $vibebooks-primary-palette,
    accent: $vibebooks-accent-palette,
    warn: $vibebooks-warn-palette,
  )
));
