/* ========================== */
/* VIBEBOOKS - COLOR PALETTE  */
/* ========================== */

// Base
$background-color: #151515;
$surface-color: #212121;
$border-color: rgba(255, 255, 255, 0.1);

// Text
$primary-text-color: #ffffff;
$secondary-text-color: #797979;

// Highlight Colors
$accent-color: #000080;
$accent-color-vibrant: #0634BDFF;
