@use 'variables' as v;
@use 'sass:color';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: v.$background-color;
  color: v.$primary-text-color;
}

.btn-primary {
  -webkit-appearance: none;
  appearance: none;

  background-color: v.$accent-color-vibrant !important;
  color: white !important;
  padding: 0.6rem 1.2rem !important;
  border-radius: 4px !important;
  border: none !important;
  font-weight: 500 !important;
  font-size: 0.9rem !important;
  cursor: pointer !important;
  transition: background-color 0.2s ease-in-out !important;
  line-height: normal !important;

  &:hover {
    background-color: color.adjust(v.$accent-color-vibrant, $lightness: 10%) !important;
  }

  &:disabled {
    background-color: #5c5c5c !important;
    color: #9e9e9e !important;
    cursor: not-allowed !important;
  }
}

.btn-stroked-warn {
  -webkit-appearance: none;
  appearance: none;

  padding: 0.6rem 1.2rem !important;
  border: 1px solid #c94040 !important;
  border-radius: 4px !important;
  background-color: transparent !important;
  color: #c94040 !important;
  font-weight: 500 !important;
  font-size: 0.9rem !important;
  cursor: pointer !important;
  transition: all 0.2s ease-in-out !important;
  line-height: normal !important;

  &:hover {
    background-color: #c94040 !important;
    color: white !important;
  }
}
