@use 'variables' as *; // Carrega as variáveis globais

/* ESTILOS GLOBAIS */
body {
  background-color: $background-color;
  color: $primary-text-color;
  margin: 0;
  font-family: sans-serif; // Definindo uma fonte padrão
  min-height: 100vh;
}
